.AddTransactionForm
{
    border:1px solid black;
}


.RecentTransactionView
{
    width:60%;
    border:1px solid black;
    float:left;
    
}

.TransactionTotalView
{
    width: 30%;
    border:1px solid black;
    float: left;
}